<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a class="nav_logo">
                <i class="bi bi-layers nav_logo-icon"></i>
                <span class="nav_logo-name">BBBootstrap</span>
            </a>
            <div class="nav_list">
                <a routerLink="home" [ngClass]="{active: isActive('/home')}" class="nav_link active">
                    <i class="bi bi-house nav_icon"></i>
                    <span class="nav_name">Home</span>
                </a>
                <a routerLink="mfe1" [ngClass]="{active: isActive('/mfe1')}" class="nav_link">
                    <i class="bi bi-grid nav_icon"></i>
                    <span class="nav_name">Dashboard</span>
                </a>
                <a routerLink="login" [ngClass]="{active: isActive('/login')}" class="nav_link">
                    <i class="bi bi-person nav_icon"></i>
                    <span class="nav_name">Users</span>
                </a>
                <a routerLink="messages" [ngClass]="{active: isActive('/messages')}" class="nav_link">
                    <i class="bi bi-chat-left-text nav_icon"></i>
                    <span class="nav_name">Messages</span>
                </a>
                <a routerLink="bookmarks" [ngClass]="{active: isActive('/bookmarks')}" class="nav_link">
                    <i class="bi bi-bookmark nav_icon"></i>
                    <span class="nav_name">Bookmark</span>
                </a>
                <a routerLink="files" [ngClass]="{active: isActive('/files')}" class="nav_link">
                    <i class="bi bi-folder nav_icon"></i>
                    <span class="nav_name">Files</span>
                </a>
                <a routerLink="stats" [ngClass]="{active: isActive('/stats')}" class="nav_link">
                    <i class="bi bi-bar-chart-fill nav_icon"></i>
                    <span class="nav_name">Stats</span>
                </a>
            </div>
        </div>
        <a routerLink="logout" [ngClass]="{active: isActive('/logout')}" class="nav_link">
            <i class="bi bi-box-arrow-right nav_icon"></i>
            <span class="nav_name">SignOut</span>
        </a>
    </nav>
</div>